@font-face {
    font-family: 'Levorotary';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('levorotary/Levorotary.woff') format('woff'),
        url('levorotary/Levorotary.ttf') format('truetype'),
        url('levorotary/Levorotary.otf') format('otf');
}
