/*-----------------------------------------------------------------------------------*/
/*	51. COLORS
/*-----------------------------------------------------------------------------------*/
.color-white {
    color: #FFF !important
}
.color-gradient,
.color-gradient i:before {
    background: #4c86e5;
    background: -webkit-linear-gradient(to bottom, #e54c94, #4c86e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#e54c94), to(#4c86e5));
    background: -webkit-linear-gradient(top, #e54c94, #4c86e5);
    background: -o-linear-gradient(top, #e54c94, #4c86e5);
    background: linear-gradient(to bottom, #e54c94, #4c86e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1px;
}
.bg-gradient {
    background-color: #4c86e5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e54c94), to(#4c86e5));
    background-image: -webkit-linear-gradient(top, #e54c94 0%, #4c86e5 100%);
    background-image: -o-linear-gradient(top, #e54c94 0%, #4c86e5 100%);
    background-image: linear-gradient(180deg, #e54c94 0%, #4c86e5 100%);
}
.bg-gradient2 {
    background-color: #4c86e5;
    background-image: -webkit-gradient(linear, left top, right top, from(#e54c94), to(#4c86e5));
    background-image: -webkit-linear-gradient(left, #e54c94 0%, #4c86e5 100%);
    background-image: -o-linear-gradient(left, #e54c94 0%, #4c86e5 100%);
    background-image: linear-gradient(90deg, #e54c94 0%, #4c86e5 100%);
}
.bg-opacity {
    background: rgba(255, 255, 255, 0.9);
}
.bg-opacity-dark {
    background: rgba(21, 21, 21, 0.85);
}
.color-forest,
.list-forest>li:before,
.list-forest i {
    color: #67bb7b !important;
}
.color-green,
.list-green>li:before,
.list-green i {
    color: #1abb9c !important;
}
.color-teal,
.list-teal>li:before,
.list-teal i {
    color: #67bbb2 !important;
}
.color-oasis,
.list-oasis>li:before,
.list-oasis i {
    color: #98bec8 !important;
}
.color-ice,
.list-ice>li:before,
.list-ice i {
    color: #9eb9d7 !important;
}
.color-sky,
.list-sky>li:before,
.list-sky i {
    color: #4ca6e5 !important;
}
.color-default,
.list-default>li:before,
.list-default i,
.color-blue,
.list-blue>li:before,
list-blue i {
    color: #4c86e5 !important;
}
.color-purple,
.list-purple>li:before,
.list-purple i {
    color: #7e86b5 !important;
}
.color-aqua,
.list-aqua>li:before,
.list-aqua i {
    color: #28b8d8 !important;
}
.color-navy,
.list-navy>li:before,
.list-navy i {
    color: #364969 !important;
}
.color-brown,
.list-brown>li:before,
.list-brown i {
    color: #8b6a5d !important;
}
.color-yellow,
.list-yellow>li:before,
.list-yellow i {
    color: #e7b92f !important;
}
.color-orange,
.list-orange>li:before,
.list-orange i {
    color: #e56c4c !important;
}
.color-red,
.list-red>li:before,
.list-red i {
    color: #e54c4c !important;
}
.color-pink,
.list-pink>li:before,
.list-pink i {
    color: #ce8fad !important;
}
.color-salmon,
.list-salmon>li:before,
.list-salmon i {
    color: #e8c3b9 !important;
}
.color-dark,
.list-dark>li:before,
.list-dark i {
    color: #404040 !important
}
.bg-light-gray {
    background-color: rgba(21, 21, 21, 0.03) !important;
}
.bg-gray {
    background-color: rgba(21, 21, 21, 0.05) !important;
}
.bg-white {
    background-color: #FFF !important;
}
.bg-forest {
    background-color: #67bb7b !important;
}
.bg-green {
    background-color: #1abb9c !important;
}
.bg-teal {
    background-color: #67bbb2 !important;
}
.bg-oasis {
    background-color: #98bec8 !important;
}
.bg-ice {
    background-color: #9eb9d7 !important;
}
.bg-sky {
    background-color: #4ca6e5 !important;
}
.bg-default,
.bg-blue {
    background-color: #4c86e5 !important;
}
.bg-purple {
    background-color: #7e86b5 !important;
}
.bg-aqua {
    background-color: #28b8d8 !important;
}
.bg-navy {
    background-color: #364969 !important;
}
.bg-brown {
    background-color: #8b6a5d !important;
}
.bg-yellow {
    background-color: #e7b92f !important;
}
.bg-orange {
    background-color: #e56c4c !important;
}
.bg-red {
    background-color: #e54c4c !important;
}
.bg-pink {
    background-color: #ce8fad !important;
}
.bg-salmon {
    background-color: #e8c3b9 !important;
}
.bg-dark {
    background-color: #404040 !important
}
.rev_slider.bg-dark {
    background-color: #151515 !important;
}
.border-forest {
    border-color: #67bb7b !important;
}
.border-green {
    border-color: #1abb9c !important;
}
.border-teal {
    border-color: #67bbb2 !important;
}
.border-oasis {
    border-color: #98bec8 !important;
}
.border-ice {
    border-color: #9eb9d7 !important;
}
.border-sky {
    border-color: #4ca6e5 !important;
}
.border-default,
.border-blue {
    border-color: #4c86e5 !important;
}
.border-purple {
    border-color: #7e86b5 !important;
}
.border-aqua {
    border-color: #28b8d8 !important;
}
.border-navy {
    border-color: #364969 !important;
}
.border-brown {
    border-color: #8b6a5d !important;
}
.border-yellow {
    border-color: #e7b92f !important;
}
.border-orange {
    border-color: #e56c4c !important;
}
.border-red {
    border-color: #e54c4c !important;
}
.border-pink {
    border-color: #ce8fad !important;
}
.border-salmon {
    border-color: #e8c3b9 !important;
}
.border-dark {
    color: #404040 !important
}
.progressbar.forest svg path:last-child {
    stroke: #67bb7b !important;
}
.progressbar.green svg path:last-child {
    stroke: #1abb9c !important;
}
.progressbar.teal svg path:last-child {
    stroke: #67bbb2 !important;
}
.progressbar.oasis svg path:last-child {
    stroke: #98bec8 !important;
}
.progressbar.ice svg path:last-child {
    stroke: #9eb9d7 !important;
}
.progressbar.sky svg path:last-child {
    stroke: #4ca6e5 !important;
}
.progressbar.default svg path:last-child,
.progressbar.blue svg path:last-child {
    stroke: #4c86e5 !important;
}
.progressbar.purple svg path:last-child {
    stroke: #7e86b5 !important;
}
.progressbar.aqua svg path:last-child {
    stroke: #28b8d8 !important;
}
.progressbar.navy svg path:last-child {
    stroke: #364969 !important;
}
.progressbar.brown svg path:last-child {
    stroke: #8b6a5d !important;
}
.progressbar.yellow svg path:last-child {
    stroke: #e7b92f !important;
}
.progressbar.orange svg path:last-child {
    stroke: #e56c4c !important;
}
.progressbar.red svg path:last-child {
    stroke: #e54c4c !important;
}
.progressbar.pink svg path:last-child {
    stroke: #ce8fad !important;
}
.progressbar.salmon svg path:last-child {
    stroke: #e8c3b9 !important;
}
.progressbar.border.forest {
    border-color: #67bb7b !important;
}
.progressbar.border.green {
    border-color: #1abb9c !important;
}
.progressbar.border.teal {
    border-color: #67bbb2 !important;
}
.progressbar.border.oasis {
    border-color: #98bec8 !important;
}
.progressbar.border.ice {
    border-color: #9eb9d7 !important;
}
.progressbar.border.sky {
    border-color: #4ca6e5 !important;
}
.progressbar.border.default,
.progressbar.border.blue {
    border-color: #4c86e5 !important;
}
.progressbar.border.purple {
    border-color: #7e86b5 !important;
}
.progressbar.border.aqua {
    border-color: #28b8d8 !important;
}
.progressbar.border.navy {
    border-color: #364969 !important;
}
.progressbar.border.brown {
    border-color: #8b6a5d !important;
}
.progressbar.border.yellow {
    border-color: #e7b92f !important;
}
.progressbar.border.orange {
    border-color: #e56c4c !important;
}
.progressbar.border.red {
    border-color: #e54c4c !important;
}
.progressbar.border.pink {
    border-color: #ce8fad !important;
}
.progressbar.border.salmon {
    border-color: #e8c3b9 !important;
}
.progressbar.border.dark {
    border-color: #404040 !important;
}
.circle.forest .progressbar-text {
    color: #67bb7b !important;
}
.circle.green .progressbar-text {
    color: #1abb9c !important;
}
.circle.teal .progressbar-text {
    color: #67bbb2 !important;
}
.circle.oasis .progressbar-text {
    color: #98bec8 !important;
}
.circle.ice .progressbar-text {
    color: #9eb9d7 !important;
}
.circle.sky .progressbar-text {
    color: #4ca6e5 !important;
}
.circle.default .progressbar-text,
.circle.blue .progressbar-text {
    color: #4c86e5 !important;
}
.circle.purple .progressbar-text {
    color: #7e86b5 !important;
}
.circle.aqua .progressbar-text {
    color: #28b8d8 !important;
}
.circle.navy .progressbar-text {
    color: #364969 !important;
}
.circle.brown .progressbar-text {
    color: #8b6a5d !important;
}
.circle.yellow .progressbar-text {
    color: #e7b92f !important;
}
.circle.orange .progressbar-text {
    color: #e56c4c !important;
}
.circle.red .progressbar-text {
    color: #e54c4c !important;
}
.circle.pink .progressbar-text {
    color: #ce8fad !important;
}
.circle.salmon .progressbar-text {
    color: #e8c3b9 !important;
}
