/*-----------------------------------------------------------------------------------*/
/*	09. LISTS
/*-----------------------------------------------------------------------------------*/
ul,
ol {
    padding-left: 15px;
}
.unordered-list {
    list-style: none;
    padding: 0;
}
.unordered-list>li:before {
    font-size: 14px;
    vertical-align: 2px;
    display: inline-block;
    margin-right: 7px;
    content: "\2022";
}
.mega-menu-content .unordered-list>li:before {
	vertical-align: 0;
}
.unordered-list-circle {
    list-style-type: circle;
}
.unordered-list-disc {
    list-style-type: disc;
}
.ordered-list-roman {
    list-style-type: upper-roman;
}
.ordered-list-alpha {
    list-style-type: lower-alpha;
}
.list-inline {
    margin-left: -10px
}
.list-inline>li {
    padding-left: 10px;
    padding-right: 10px
}
.list-inline>li.flex-middle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.icon-list {
    list-style: none;
    padding: 0;
}
.icon-list i {
    padding-right: 7px;
    font-size: 15px;
}
.image-list {
    padding: 0;
    margin: 0;
}
.image-list p {
    margin: 0;
}
.image-list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.image-list li {
    clear: both;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}
.image-list li:last-child {
    margin: 0;
}
.image-list li a:hover {
    color: #4c86e5
}
.image-list figure {
    float: left;
    width: 70px;
    height: 70px;
}
.image-list .post-content {
    margin-left: 85px;
    margin-bottom: 0;
}
.image-list li .post-title {
    margin-bottom: 5px
}
