@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bg-slate-150 {
  background-color: #eaeff5;
}
.bg-slate-250 {
  background-color: #d7dfe9;
}
.btn {
  @apply px-3 py-1 text-sm font-bold rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.indigo .btn-blue {
  @apply bg-indigo-500 text-white;
}
.indigo .btn-blue:hover {
  @apply bg-indigo-400;
}

.btn-slate {
  @apply bg-slate-300;
}
.btn-slate:hover {
  @apply opacity-70;
}

.btn-dark-slate {
  @apply bg-slate-600 text-white;
}
.btn-dark-slate:hover {
  @apply opacity-70;
}

.indigo .btn-slate {
  @apply bg-indigo-400 text-white;
}
.indigo .btn-slate:hover {
  @apply bg-indigo-300 text-white;
}

.indigo .indigo\:bg-indigo-500 {
  @apply bg-indigo-500;
}

.indigo .indigo\:hover\:bg-indigo-500:hover {
  @apply bg-indigo-500;
}

.indigo .indigo\:bg-indigo-200 {
  @apply bg-indigo-200;
}

.indigo .indigo\:bg-indigo-300 {
  @apply bg-indigo-300;
}

.indigo .indigo\:bg-slate-700 {
  @apply bg-indigo-700;
}

button[disabled] {
  pointer-events: none;
}

.potential-drop-zone.drop-zone {
  position: relative;
}

.potential-drop-zone::after {
  @apply transition-all duration-200 ease-in-out;
}

.potential-drop-zone.drop-zone::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  top: 0;
  width: 12px;
  background-color: #64748b;
  border-radius: 4px;
  @apply drop-shadow;
}

.potential-drop-zone.drop-zone.drop-zone-r::after {
  left: unset;
  z-index: 1;
  right: 0px;
  bottom: 0;
  top: 0;
  width: 12px;
  background-color: #64748b;
  border-radius: 4px;
}

.drop-zone * {
  pointer-events: none;
}

select.flat-select,
select.flat-select-small {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.slice-description {
  @apply p-2 m-1 bg-indigo-700 rounded;
}

select.flat-select,
select.flat-select-small {
  @apply bg-gray-50 border border-gray-300 text-gray-900;
}

.flat-select {
  @apply text-sm rounded-lg p-1.5;
}
.flat-select-small {
  @apply pl-1.5 py-1 text-xs rounded-md;
}

select:focus {
  @apply ring-blue-500 border-blue-500;
}

select.flat-select,
select.flat-select-small {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 0.75em 0.75em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

input[type='search'].flat-text-input {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z'/%3E%3C/svg%3E");
  background-position: left 0.5rem center;
  background-repeat: no-repeat;
  background-size: 0.75rem 0.75rem;
  padding-left: 1.75rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.flat-text-input-large {
  @apply bg-slate-100 appearance-none border-2 border-slate-100 rounded text-slate-700 font-mono text-sm p-2;
}

.flat-text-input {
  @apply bg-slate-100 appearance-none border-2 border-slate-100 rounded text-slate-700 font-mono text-xs p-2 leading-tight;
}

.flat-text-input-small {
  @apply bg-slate-100 appearance-none border-2 border-slate-100 rounded text-slate-700 font-mono text-xs px-2 py-1 leading-tight;
}

.flat-text-input:focus,
.flat-text-input-large:focus,
.flat-text-input-small:focus {
  @apply outline-none border-blue-600 bg-white;
}
