Screen {
    layers: shell popup;
}

#prompt-input {
    border: none;
    background: transparent;
    margin-left: 0;
    margin-top:1;
    padding-left: 0;
}

#prompt-label{
    margin-top: 1;
    padding: 0;
    padding-left: 1;
}

Prompt {
    margin: 0;
    padding-top: 2;
    height: 4;
    layout: horizontal
}

CommandList {
    background: transparent;
    border: round white;
    height: auto;
    width: 20;
    layout: vertical;
}

#cmd-label {
    text-align: center;
}

CommandList Rule {
    color: white;
    margin: 0;
}

#cmd-list {
    background: transparent;
    border: none;
    text-align: center;
}

#auto-complete {
    layer: popup;
    offset: 20 8;
    height: auto;
    width: 20;
    box-sizing: border-box;
    border: round white;
}

Shell Container {
    border: round white;
    height: auto;
}

Shell Container RichLog {
    height: auto;
    max-height: 30;
    background: transparent;
}

HelpScreen {
    align: center middle;
    height: 50;
}

#help-dialog {
    grid-size: 3;
    grid-rows: 2 40;
    grid-columns: 1fr 1fr 4;
    width: 80;
    height: auto;
    background: $surface;
    border: solid white;
}

#help-close {
    column-span: 1;
    text-align: center;
    padding: 0;
    margin: 0;
}

#help-label {
    column-span: 2;
    content-align: center middle;
    width: 1fr;
    offset: 1 0;
}

#help-display {
    column-span: 3;
    row-span: 2;
    content-align: center middle;
    border-top: solid white;
}

#app-grid {
    grid-size: 3;
    grid-rows: 1fr;
    grid-columns: 20 2fr 1fr;
    width: 1fr;
}

SettingsDisplay Grid { 
    grid-size: 2;
    grid-columns: 1fr;
    grid-rows: auto 1fr;
    border: solid white;
    height: 15;
}

SettingsDisplay Grid Label {
        text-align: center;
        column-span: 2;
    }

SettingsDisplay Grid DataTable {
        column-span: 2;
        border-top: solid white;
    }