/*-----------------------------------------------------------------------------------*/
/*	03. NAVBAR
/*-----------------------------------------------------------------------------------*/
.navbar {
    z-index: 1008;
    width: 100%;
    padding: 0;
    font-family: 'Montserrat';
}
.navbar .container {
    position: relative;
}
.navbar.absolute {
    position: absolute;
}
.navbar.transparent:not(.banner--clone) {
    background: none;
}
.navbar.transparent.fixed.nav-wrapper-light,
.navbar.nav-wrapper-light.solid.fixed {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.navbar.transparent .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand img {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ();
    height: auto;
    width: auto;
    max-width: none;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .navbar-brand img {
        image-rendering: -webkit-optimize-contrast;
    }
}
.navbar-nav .nav-link {
    font-size: 15px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.highlighted {
    color: #4c86e5;
}
.navbar-nav .nav-link.book-now {
    font-size: 20px;
    font-family: 'Inclitodo';
    padding-left: 0px;
}
.navbar .social-mute a i {
    color: #404040;
}
.navbar .social-mute a:hover i {
    color: #4c86e5;
}
.dropdown-menu {
    min-width: 160px;
    padding: 0;
    margin: 0;
    background-color: #151515;
    border: 0;
    border-radius: 0
}
.dropdown-item,
.mega-menu-content a {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    padding: 10px 20px;
}
.mega-menu-content a {
    padding: 3px 0;
    display: block;
}
.mega-menu-content .icon-list i {
    font-size: 14px;
    width: 22px;
}
.mega-menu-content a:hover {
    color: #FFF;
}
.dropdown-item.active {
    background: none;
    color: inherit;
}
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.highlighted {
    color: inherit;
    background: rgba(255, 255, 255, 0.04);
    border-top-color: transparent;
}
.mega-menu-content a {
    color: rgba(255, 255, 255, 1);
}
.mega-menu-content a:hover {
    color: rgba(255, 255, 255, 0.75);
}
.dropdown-menu,
.dropdown-item,
.dropdown-item:hover {
    color: rgba(255, 255, 255, 1);
}
.navbar.text-uppercase .navbar-nav .nav-link {
    font-size: 13px;
    letter-spacing: normal;
}
.navbar.text-uppercase .dropdown-item,
.navbar.text-uppercase .mega-menu-content a {
    font-size: 12px;
    letter-spacing: normal;
}
.navbar.fixed .navbar-brand img {
    height: 30px !important;
    width: auto !important;
}
.navbar-nav.sm-collapsible .dropdown-menu .dropdown-menu {
    margin: 0;
}
.navbar-nav .sub-arrow {
    font-size: 10px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0;
}
.navbar-nav.sm-collapsible .sub-arrow {
    font-size: 11px;
    line-height: 1;
    width: auto;
    margin: -7px 30px 0 0;
    border: 0;
}
.navbar-nav .sub-arrow:before {
    font-family: 'FontAwesome';
    font-weight: normal;
}
.navbar-nav.sm-collapsible .sub-arrow::before {
    content: "\f078";
}
.navbar-nav.sm-collapsible .show>a>.sub-arrow::before {
    content: "\f077"
}
.navbar-nav:not(.sm-collapsible) .dropdown-item .sub-arrow:before {
    content: "\f054";
}
.navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow {
    display: none;
}
.dropdown-toggle::after {
    display: none;
}
.navbar-nav:not(.sm-collapsible) .dropdown-item .sub-arrow {
    margin-top: -5px;
    margin-right: 30px;
    border: 0;
}
.navbar-nav:not(.sm-collapsible) .dropdown-item.has-submenu {
    padding-right: 60px;
}
.navbar-divider {
    width: 4px;
    height: 4px;
    padding: 0;
    margin: 0 28px 0 8px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%
}
.inverse-text .navbar-divider {
    background: rgba(255, 255, 255, 0.7);
}
.navbar .social {
    margin-top: 1px;
}
.navbar.center .navbar-nav-wrapper {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}
