/*-----------------------------------------------------------------------------------*/
/*	01. RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0
}
.fit-vids-style {
    display: none
}
figure {
    margin: 0;
    padding: 0;
}
figure img {
    max-width: 100%
}
iframe {
    border: none
}
.clearfix {
    clear: both;
}
::-moz-selection {
    background: #dbe7fa;
    /* Safari */
    color: #404040;
}
::selection {
    background: #dbe7fa;
    /* Safari */
    color: #404040;
}
br {
    line-height: 0;
}
