/*-----------------------------------------------------------------------------------*/
/*	47. LIGHTGALLERY
/*-----------------------------------------------------------------------------------*/
.lg-backdrop {
    background: rgba(21, 21, 21, 0.97);
}
.lg-outer .lg-item {
    background: none;
}
.lg-outer .lg-item.lg-complete:after {
    display: none
}
.lg-toolbar {
    background: none
}
.lg-sub-html {
    background: rgba(21, 21, 21, 0.4);
}
#lg-counter,
.lg-toolbar .lg-icon {
    color: rgba(255, 255, 255, 1)
}
.lg-actions .lg-next,
.lg-actions .lg-prev {
    border: 0;
    background: none;
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    margin-top: -7px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}
.lg-toolbar .lg-icon:hover,
.lg-actions .lg-next:hover,
.lg-actions .lg-prev:hover {
    color: rgba(255, 255, 255, 0.75);
}
.lg-actions .lg-prev:before,
.lg-actions .lg-next:before {
    font-family: 'FontAwesome';
}
.lg-actions .lg-prev:before {
    content: "\f104"
}
.lg-actions .lg-next:before {
    content: "\f105"
}
.lg-actions .lg-prev:after {
    display: none;
}
.lg-actions .lg-prev {
    left: 10px;
}
.lg-actions .lg-next {
    right: 10px;
}
.lg-toolbar .lg-icon.lg-close {
    font-size: 38px;
    padding: 17px 12px 10px 0;
}
#lg-counter {
    font-size: 16px;
}
.lg-sub-html {
    padding: 10px 15px
}
.lg-sub-html p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}
.lg-sub-html * {
    color: #fff;
}
.lg-dropdown {
    z-index: 3051;
}

.lightGallery-captions h4,
.lightGallery-captions .h4 {
    transform: translate3d(60px, 0, 0px);
}
.lightGallery-captions p {
    transform: translate3d(-60px, 0, 0px);
}
.lightGallery-captions h4,
.lightGallery-captions .h4,
.lightGallery-captions p {
    opacity: 0;
}
.lg-current .lightGallery-captions h4,
.lg-current .lightGallery-captions .h4,
.lg-current .lightGallery-captions p {
    transform: translate3d(0, 0, 0px);
}
.lg-current .lightGallery-captions h4,
.lg-current .lightGallery-captions .h4,
.lg-current .lightGallery-captions p {
    opacity: 1;
}
.lg-slide-progress .lightGallery-captions h4,
.lg-slide-progress .lightGallery-captions .h4 {
    transform: translate3d(-60px, 0, 0px);
}
.lg-slide-progress .lightGallery-captions p {
    transform: translate3d(60px, 0, 0px);
}
.lg-slide-progress .lightGallery-captions h4,
.lg-slide-progress .lightGallery-captions .h4,
.lg-slide-progress .lightGallery-captions p {
    opacity: 0;
}
.lightGallery-captions h4,
.lightGallery-captions .h4,
.lightGallery-captions p {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
}
.lg-current .lightGallery-captions h4,
.lg-current .lightGallery-captions .h4,
.lg-current .lightGallery-captions p {
    transition-delay: 500ms;
}
.lg-current.lg-slide-progress .lightGallery-captions h4,
.lg-current.lg-slide-progress .lightGallery-captions .h4,
.lg-current.lg-slide-progress .lightGallery-captions p {
    transition-delay: 0ms;
}
.inline-gallery-container {
    padding-bottom: 100%;
    height: 0;
}
@media (min-width: 576px) {
    .inline-gallery-container {
        padding-bottom: 65%;
    }
}
.gallery-demo-sm {
    margin-bottom: 1rem;
}
.vertical-gallery {
    --bs-gutter-x: 20px;
}
.vertical-gallery .first-row {
    padding-top: 80px;
}
.vertical-gallery .third-row {
    padding-top: 45px;
}
.vertical-gallery .gallery-item {
    margin-bottom: 20px;
    display: block;
}
.gallery-demo-videos .lg-video-play-button {
    width: 25%;
}
.gallery-demo-videos .lg-video-play-icon,
.gallery-demo-videos .lg-video-play-icon-bg {
    opacity: 0.65;
}
.gallery-demo-videos .lg-video-play-icon-bg {
    stroke: rgba(255, 255, 255, 0.65);
}
.lg-sub-html {
    color: #e0e0e0 !important;
}
.lg-sub-html h4,
.lg-sub-html .h4 {
    font-weight: 400 !important;
}
.lg-sub-html a {
    color: #fff !important;
    font-weight: 500 !important;
    margin-right: 10px !important;
}
.lightGallery-white-theme .lg-outer .lg-thumb-outer {
    box-shadow: 0px 0px 6px -3.5px rgba(0, 0, 0, 0.25) inset;
}
.lightGallery-white-theme .lg-sub-html {
    color: #333 !important;
}
.lightGallery-white-theme .lg-sub-html a {
    color: #2f2f2f !important;
}
.lightGallery-white-theme .lg-backdrop {
    background-color: #fff;
}
.lightGallery-white-theme .lg-backdrop {
    background-color: #fff;
}
.lightGallery-white-theme .lg-thumb-item.active,
.lightGallery-white-theme .lg-thumb-item:hover {
    border-color: #333;
}
.lightGallery-white-theme .lg-progress-bar {
    background-color: #999;
}
.lightGallery-white-theme .lg-progress-bar .lg-progress {
    background-color: #333;
}
.lightGallery-white-theme .lg-outer .lg-thumb-outer {
    background-color: #fcfcfc;
}
.lightGallery-white-theme .lg-next,
.lightGallery-white-theme .lg-prev {
    background-color: rgba(0, 0, 0, 0.03);
    color: #444;
}
.lightGallery-white-theme .lg-next:hover,
.lightGallery-white-theme .lg-prev:hover {
    color: #000;
}
.lightGallery-white-theme .lg-next:focus,
.lightGallery-white-theme .lg-prev:focus {
    outline: none;
    box-shadow: none;
}
.lightGallery-white-theme .lg-toolbar .lg-icon {
    color: #555;
}
.lightGallery-white-theme .lg-toolbar .lg-icon:hover {
    color: #000;
}
.lightGallery-white-theme .lg-counter {
    color: #555;
}
.lightGallery-white-theme .lg-outer .lg-thumb-item.active,
.lightGallery-white-theme .lg-outer .lg-thumb-item:hover {
    border-color: #333;
}
.lg-custom-thumbnails .lg-outer {
    width: auto;
    right: 225px;
    left: 10px;
}
.lg-custom-thumbnails .lg-outer .lg-thumb-outer {
    left: auto;
    top: 0;
    width: 225px;
    max-height: none;
    bottom: 0;
    background-color: #999;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 -10px;
    overflow-y: auto;
    position: fixed;
    right: 0;
    transform: translate3d(30%, 0, 0);
    opacity: 0;
    will-change: transform opacity;
    transition: transform 0.15s cubic-bezier(0, 0, 0.25, 1) 0s, cubic-bezier(0, 0, 0.25, 1) 0.15s;
}
.lg-custom-thumbnails .lg-outer.lg-components-open .lg-thumb-outer {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.lg-custom-thumbnails .lg-outer .lg-thumb-item {
    float: left;
    filter: grayscale(100%);
    will-change: filter;
    transition: filter 0.12s ease-in, border-color 0.12s ease;
}
.lg-custom-thumbnails .lg-outer .lg-thumb-item:hover,
.lg-custom-thumbnails .lg-outer .lg-thumb-item.active {
    filter: grayscale(0);
    border-color: #545454;
}
.lg-custom-thumbnails .lg-outer .lg-thumb {
    padding: 5px 0;
}
.lg-update-slide-demo .lg-toolbar .lg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lg-update-slide-demo .lg-toolbar svg {
    fill: #999;
    width: 22px;
    height: 22px;
}
.choose-select-option-wrap {
    margin-top: 20px;
}
.choose-select-option-wrap .choose-select-option {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}
.choose-select-option-wrap .choose-select-option,
.choose-select-option-wrap .select {
    display: inline-block;
    vertical-align: middle;
}
.lg-custom-share-demo .lg-reddit {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.lg-custom-share-demo .lg-dropdown-text {
    margin-top: 3px !important;
}
.lg-inline .lg-thumb-outer {
    padding-left: 5px;
}
.infinite-scroll-gallery {
    width: 240px;
}
.infinite-scroll-gallery .gallery-item {
    margin-bottom: 20px;
    display: block;
    width: 100%;
}
.medium-zoom-demo p {
    margin-left: 6rem;
    margin-right: 6rem;
}
.lg-events-demo-outer .lg-backdrop {
    transition: opacity 333ms ease-in 0s, background-color 0s ease 0s, all 333ms ease-in 0s;
}
.event-docs-list {
    margin-top: 2rem;
}
.lg-methods-demo .lg-next:after,
.lg-methods-demo .lg-next:before,
.lg-methods-demo .lg-prev:after,
.lg-methods-demo .lg-prev:before {
    content: "";
}
.docs-methods-list {
    margin-top: 2rem;
}
.options-table {
    width: 100%;
    table-layout: fixed;
    border-color: #dae8ff;
}
.options-table .options-table-tr-head {
    background-color: #fafbff;
}
.options-table .options-table-description td {
    padding-bottom: 3.5rem;
    padding-top: 1rem;
}
.options-table .options-table-description p {
    white-space: pre-line;
}
.options-table .options-table-description p:last-child {
    margin-bottom: 0;
}
.options-table .options-table-description section {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.options-table .options-table-description:last-child td {
    padding-bottom: 0;
    border-bottom-color: transparent;
}
.options-section {
    margin: 5rem 0;
}
.options-stripe-table {
    border: 1px solid #dae8ff;
    font-size: 15px;
    background-color: transparent;
}
.options-stripe-table .options-table-tr-head:nth-child(odd) {
    background-color: #fafbff;
}
.options-stripe-table .options-table-tr-head:nth-child(even) {
    background-color: transparent;
}
.lg-masonry-gallery .gallery-item {
    width: 30%;
    margin-bottom: 10px;
}
.docs-common-section {
    border-bottom: 2px solid #dae8ff;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.docs-common-section p,
.docs-common-section ul {
    margin-bottom: 0.8rem;
    font-size: 1rem;
}
.docs-common-section p > b {
    margin-right: 0.3rem;
}
.docs-common-section li {
    line-height: 1.5rem;
}
.docs-common-section .chroma {
    margin: 0 0 0.8rem 0;
}
.docs-common-section .docs-common-highlight .chroma {
    margin-top: 0;
}
.docs-common-section .docs-common-notes {
    margin-top: 1rem;
}
