/*-----------------------------------------------------------------------------------*/
/*	46. GO TO TOP
/*-----------------------------------------------------------------------------------*/
#scrollUp {
    bottom: 65px;
    right: 15px;
    -webkit-transition: background 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out;
    -webkit-backface-visibility: hidden;
}
#scrollUp .btn {
    font-size: 12px;
    margin: 0;
    letter-spacing: normal;
    padding: 12px 14px 14px 14px;
}
@-moz-document url-prefix() {
    #scrollUp .btn {
        padding-bottom: 15px;
    }
}
#scrollUp .btn:hover,
#scrollUp .btn:focus,
#scrollUp .btn:active,
#scrollUp .btn.active {}
