/*-----------------------------------------------------------------------------------*/
/*	06. HAMBURGER MENU ICON
/*-----------------------------------------------------------------------------------*/
.navbar-hamburger,
.hamburger {
    line-height: 1;
}
.hamburger {
    display: inline-block;
    width: 28px;
    height: 21px;
    padding: 0;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    vertical-align: middle;
    border: 0 none;
    background: none;
}
.hamburger::-moz-focus-inner {
    padding: 0;
    border: 0 none;
}
.hamburger:focus {
    outline: 0;
}
.hamburger:before,
.hamburger:after {
    content: "";
}
.hamburger:before,
.hamburger span,
.hamburger:after {
    display: block;
    width: 100%;
    height: 3px;
    margin: 0 0 6px;
    transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    background: #404040;
}
.inverse-text .hamburger:before,
.inverse-text .hamburger span,
.inverse-text .hamburger:after {
    background: #FFF;
}
.hamburger.animate.active span {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
}
.hamburger.animate.active:before {
    transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -webkit-transform: translateY(9px) rotate(45deg);
}
.hamburger.animate.active:after {
    transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -webkit-transform: translateY(-9px) rotate(-45deg);
}
