/*-----------------------------------------------------------------------------------*/
/*	18. BLOG
/*-----------------------------------------------------------------------------------*/
.list-view {
    margin-bottom: -60px;
}
.list-view .post,
.list-view .item {
    margin-bottom: 60px;
}
.grid-view .post {
    margin-bottom: 30px;
}
.meta,
a.more {
    font-size: 13px;
    font-family: 'Montserrat';
    letter-spacing: 0;
    text-transform: uppercase;
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}
.meta.larger {
	font-size: 15px;
}
.meta.price.price-l {
    font-size: 18px;
}
.classic-view .meta {
    margin-bottom: 25px;
}
.text-muted,
.meta,
a.more,
.meta span:after,
.meta * {
    color: #324397;
}
a.more {
    display: block;
    margin-bottom: 20px;
}
.meta span:after {
    content: "";
    vertical-align: 3px;
    margin: 0 13px 0 13px;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(21, 21, 21, 0.25)
}
.overlay:not(.caption-dark) .meta span:after {
    background-color: #FFF !important;
}
.meta span:last-child:after,
.contact-info span:last-child:after {
    display: none
}
a.more:after {
    font-family: 'FontAwesome';
    content: "\f101";
    padding-left: 5px;
    font-size: 14px;
    font-weight: normal;
}
.post-title a,
.more,
.meta a:not(.color) {
    color: inherit;
}
.post-title a:hover,
.more:hover,
.meta a:hover {
    color: #4c86e5;
}
.meta span.comments a:before,
.image-grid .meta span.comments:before {
    font-family: 'FontAwesome';
    content: "\f086";
    font-weight: normal;
    margin-right: 3px;
}
.meta.tags a:before {
    content: "#";
    display: inline;
}
.meta.price ins {
    text-decoration: none
}
.meta.price del {
    margin-right: 3px;
}
.post-nav-wrapper {
    overflow: hidden;
    display: table;
    width: 100%;
}
.post-nav-wrapper a {
    color: inherit;
}
.post-nav-wrapper a:hover {
    color: #4c86e5;
}
.post-nav-wrapper .meta {
    position: relative;
    display: inline-block;
    margin: 0;
}
.post-nav-wrapper .post-nav {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 35px;
}
.post-nav-wrapper .next {
    text-align: left;
    border-left: 1px solid rgba(21, 21, 21, 0.15);
}
.post-nav-wrapper .prev .meta {
    padding-left: 15px
}
.post-nav-wrapper .prev i {
    padding-right: 5px
}
.post-nav-wrapper .next .meta {
    padding-right: 15px
}
.post-nav-wrapper .next i {
    padding-left: 5px
}
.post-nav-wrapper i {
    font-size: 14px;
    font-weight: normal;
}
.about-author {
    position: relative;
    padding: 0 0 0 210px;
}
.about-author .author-image {
    position: absolute;
    top: 0;
    left: 0;
}