/*-----------------------------------------------------------------------------------*/
/*	04. STICKY HEADER
/*-----------------------------------------------------------------------------------*/
.navbar.fixed {
    margin: 0;
    width: 100%;
}
.banner--clone {
    position: fixed !important;
    z-index: 1039;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.banner--stick {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    background: rgba(255, 255, 255, 0.9)
}
.navbar.nav-wrapper-dark {
    background: #151515;
}
.navbar.nav-wrapper-light {
    background: #FFF;
}
.navbar.opacity.nav-wrapper-dark {
    background: rgba(21, 21, 21, 0.6)
}
.navbar.fixed.nav-wrapper-dark {
    background: rgba(21, 21, 21, 0.9)
}
.navbar.opacity.nav-wrapper-light {
    background: rgba(255, 255, 255, 0.8)
}
.navbar.fixed.nav-wrapper-light {
    background: rgba(255, 255, 255, 0.9)
}
