/*-----------------------------------------------------------------------------------*/
/*	37. FORMS
/*-----------------------------------------------------------------------------------*/
select {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-weight: normal;
}
label:not(.custom-control-label) {
    font-weight: 700;
    color: #404040;
}
label input,
label textarea {
    margin-top: 5px;
}
.form-field label,
.form-group .custom-select {
    width: 100%
}
.form-inline .btn,
.form-group .btn {
    vertical-align: top;
}
.form-group {
    margin-bottom: 20px;
}
.form-inline .form-group {
    margin-right: 5px;
}
.form-inline .form-group label {
    margin-right: 5px;
}
select,
textarea,
textarea.form-control,
input[type="text"]:not(.qty),
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-weight: inherit;
    height: 48px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 48px;
    color: #606060;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(21, 21, 21, 0.15);
    border-radius: 4px;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
@-moz-document url-prefix() {
    select,
    textarea,
    textarea.form-control,
    input[type="text"]:not(.qty),
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        padding: 0 15px 2px 15px;
    }
}
.product-quantity {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(21, 21, 21, 0.15);
    border-radius: 4px;
    display: inline-block;
    padding: 0 5px;
    margin: 0;
}
.product-quantity input {
    border: 0;
    background: none;
    height: 48px;
    line-height: 1;
}
.product-quantity .qty {
    border: 0;
    background: none;
    width: 22px;
    text-align: center;
}
.widget input {
    margin-bottom: 0
}
textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #4c86e5
}
textarea,
textarea.form-control {
    height: 200px;
    width: 100%;
    padding: 0 15px;
    resize: vertical;
    font-weight: inherit;
}
.form-container .form-field {
    position: relative
}
.form-container .form-field i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 13px;
    margin: 1px 0 0 0;
    line-height: 40px;
    color: #a3a3a3;
    height: 38px;
    line-height: 40px;
    border-right: 1px solid #ccc;
    font-weight: normal;
}
input,
select {
    -moz-appearance: none
}
@-moz-document url-prefix() {
    select {
        text-shadow: 0 0 0 transparent;
    }
}
input.error,
textarea.error {
    border: 1px solid #d9534f !important;
}
.state-error,
.btn.state-error:hover {
    background-color: #de4747 !important;
    color: #FFF;
}
.notification-box {
    display: block;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    opacity: 0;
}
.notification-box.show-error {
    background-color: #f2dede;
    border-color: #ddb8be;
    color: #a94442;
    opacity: 1
}
.notification-box.show-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    opacity: 1
}
.search-form {
    position: relative
}
.search-form input {
    margin: 0;
    padding-right: 30px !important;
}
.search-form:before {
    content: '\f002';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
    color: #606060;
}
.custom-select {
    height: 48px;
    background: #FFF;
}
.custom-select-wrapper {
    position: relative;
}
.custom-select-wrapper:before {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: 'FontAwesome';
    content: "\f078";
    display: block;
    color: #404040;
    font-size: 12px;
    pointer-events: none;
}
.custom-control-label::before {
    background-color: rgba(21, 21, 21, 0.1);
    top: 7px;
}
.custom-control-label::after {
    top: 7px;
}
.custom-control-input:active~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #4c86e5
}
.form-control::-webkit-input-placeholder {
    color: #606060;
    font-weight: normal;
}
.form-control:-moz-placeholder {
    color: #606060;
    font-weight: normal;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #606060;
    font-weight: normal;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #606060;
    font-weight: normal;
}
.newsletter-wrapper input {
    width: calc(100% - 90px) !important;
}
