@font-face {
    font-family: 'Slimicons';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('Slimicons'),
        url('slimicons/Slimicons.woff2?ofrduu') format('woff2'),
        url('slimicons/Slimicons.woff?ofrduu') format('woff'),
        url('slimicons/Slimicons.ttf?ofrduu') format('truetype'),
        url('slimicons/Slimicons.svg?ofrduu#Slimicons') format('svg'),
        url('slimicons/Slimicons.eot?ofrduu'),
        url('slimicons/Slimicons.eot?ofrduu#iefix') format('embedded-opentype');
}
