@font-face {
    font-family: 'GetShow';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('get_show/GetShow.woff') format('woff'),
        url('get_show/GetShow.ttf') format('truetype'),
        url('get_show/GetShow.otf') format('otf');
}
