@font-face {
    font-family: 'elemis';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('elemis'),
        url('elemis/elemis.woff2?whe1db') format('woff2'),
        url('elemis/elemis.woff?whe1db') format('woff'),
        url('elemis/elemis.ttf?whe1db') format('truetype'),
        url('elemis/elemis.svg?whe1db#elemis') format('svg'),
        url('elemis/elemis.eot?whe1db'),
        url('elemis/elemis.eot?whe1db#iefix') format('embedded-opentype');
}
