@font-face {
    font-family: 'Rumpi';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('rumpi/Rumpi.woff') format('woff'),
        url('rumpi/Rumpi.ttf') format('truetype'),
        url('rumpi/Rumpi.otf') format('otf');
}
