[tool.poetry]
name = "iceaxe"
version = "0.5.3"
description = "A modern, fast ORM for Python."
authors = ["Pierce Freeman <pierce@freeman.vc>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
asyncpg = "^0.30.0"
pydantic = "^2.9.2"
rich = "^13.9.2"


[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"
pytest-asyncio = "^0.24.0"
ruff = "^0.6.9"
mypy = "^1.11.2"
pyright = "^1.1.383"
mountaineer = "^0.6.0"
pyinstrument = "^4.7.3"

[build-system]
requires = ["poetry-core>=1.0.0", "cython>=3.0.0", "setuptools>=71.1.0"]
build-backend = "poetry.core.masonry.api"

[tool.cython-build]
packages = ["iceaxe"]
include = ["iceaxe/*.pyx"]

[tool.poetry.build]
script = "build.py"
generate-setup-file = true

[tool.pytest.ini_options]
markers = ["integration_tests: run longer-running integration tests"]
# Default pytest runs shouldn't execute the integration tests
addopts = "-m 'not integration_tests'"

[tool.mypy]
warn_return_any = true
warn_unused_configs = true
check_untyped_defs = true
plugins = ["pydantic.mypy"]

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Disable print statements
select = ["E4", "E7", "E9", "F", "I001", "T201"]

[tool.ruff.lint.isort]
section-order = [
    "future",
    "standard-library",
    "third-party",
    "first-party",
    "local-folder",
]
combine-as-imports = true

[[tool.mypy.overrides]]
module = "asyncpg.*"
ignore_missing_imports = true
