[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "pingscope"
version = "0.1.6"
authors = [{name = "mskz-3110", email = "mskz.saito@gmail.com"}]
description = "Measuring and graphing ping"
readme = "README.md"
requires-python = ">=3.13"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
dependencies = [
  "ping3",
  "graspgraph",
]

[project.scripts]
pingscope = "pingscope.cli:main"

[project.urls]
Homepage = "https://github.com/mskz-3110/pingscope"
Issues = "https://github.com/mskz-3110/pingscope/issues"

[tool.pytest.ini_options]
pythonpath = "src"
testpaths = ["tests"]
