@font-face {
    font-family: 'Inclitodo';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('inclitodo/Inclitodo.woff2') format('woff2'),
        url('inclitodo/Inclitodo.woff') format('woff'),
        url('inclitodo/Inclitodo.ttf') format('truetype'),
        url('inclitodo/Inclitodo.otf') format('otf');
}
