/*-----------------------------------------------------------------------------------*/
/*	29. ACCORDION / COLLAPSE
/*-----------------------------------------------------------------------------------*/
.accordion-wrapper .card {
    background: none;
    background-clip: border-box;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
}
.accordion-wrapper.bordered .card {
    border-radius: 4px;
    border: 1px solid rgba(21, 21, 21, 0.15);
}
.accordion-wrapper .card>.list-group:first-child .list-group-item:first-child,
.accordion-wrapper .card>.list-group:last-child .list-group-item:last-child {
    border-radius: 0
}
.accordion-wrapper .card-title {
    margin-bottom: 0
}
.accordion-wrapper .card-text:last-child {
    margin-bottom: 0
}
.accordion-wrapper .card-block {
    padding: 15px 0 0 0;
}
.accordion-wrapper.bordered .card-block {
    padding: 20px 20px 5px 20px;
    border-top: 1px solid rgba(21, 21, 21, 0.15)
}
.accordion-wrapper .card-header {
    margin-bottom: 0;
    background: none;
    border: 0;
    padding: 0;
}
.accordion-wrapper .card-header a {
    color: #404040;
    display: block;
}
.accordion-wrapper .card-header>* {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
}
.accordion-wrapper .card-header a {
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgba(21, 21, 21, 0.15)
}
.accordion-wrapper.bordered .card-header a {
    border-bottom: 0;
    padding: 15px 20px;
}
.accordion-wrapper .card-header:first-child {
    border-radius: 0
}
.accordion-wrapper .card-header+.list-group .list-group-item:first-child {
    border-top: 0
}
.accordion-wrapper .card-header a:after {
    font-family: 'FontAwesome';
    content: "\f077";
    float: right;
    font-size: 12px;
    font-weight: normal;
}
.accordion-wrapper.lined .card-header a.collapsed {
    color: #404040;
    border-color: rgba(21, 21, 21, 0.15);
}
.accordion-wrapper.lined .card-header a,
.accordion-wrapper.lined .card-header a:hover,
.accordion-wrapper.lined .card-header a.collapsed:hover {
    color: #4c86e5;
    border-color: #4c86e5;
}
.accordion-wrapper .card-header a.collapsed:after {
    content: "\f078";
}
