/*-----------------------------------------------------------------------------------*/
/*	07. BUTTON
/*-----------------------------------------------------------------------------------*/
.btn {
    font-family: 'Montserrat';
    color: #FFF;
    background: #4c86e5;
    border: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 17px 25px;
    font-size: 13px;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    border-radius: 0;
    text-shadow: none;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
}
.btn.focus,
.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.text-center .btn {
    margin-left: 5px;
    margin-right: 5px;
}
.text-right .btn {
    margin-right: 0;
}
.btn-rounded {
    border-radius: 4px;
}
.btn-full-rounded {
    border-radius: 30px;
}
.btn-s {
    padding: 15px 23px;
}
.btn-l {
    padding: 19px 30px;
    font-size: 14px;
}
.btn.fixed-width {
    width: 165px
}
.btn.btn-square {
    padding: 10px;
}
.btn-submit {
    margin: 0
}
.btn.btn-forest {
    background: #67bb7b
}
.btn.btn-green {
    background: #1abb9c
}
.btn.btn-teal {
    background: #67bbb2
}
.btn.btn-oasis {
    background: #98bec8
}
.btn.btn-ice {
    background: #9eb9d7
}
.btn.btn-sky {
    background: #4ca6e5
}
.btn.btn-blue {
    background: #4c86e5
}
.btn.btn-purple {
    background: #7e86b5
}
.btn.btn-aqua {
    background: #28b8d8
}
.btn.btn-navy {
    background: #364969
}
.btn.btn-brown {
    background: #8b6a5d
}
.btn.btn-yellow {
    background: #e7b92f
}
.btn.btn-orange {
    background: #e56c4c
}
.btn.btn-red {
    background: #e54c4c
}
.btn.btn-pink {
    background: #ce8fad
}
.btn.btn-salmon {
    background: #e8c3b9
}
.btn.btn-dark {
    background: #303030
}
.btn.btn-white {
    background: #FFF;
    color: #404040;
}
.btn.btn-border {
    border: 2px solid #4c86e5;
    background: none;
    color: #4c86e5;
}
.btn.btn-border.btn-forest {
    border-color: #67bb7b;
    background: none;
    color: #67bb7b;
}
.btn.btn-border.btn-green {
    border-color: #1abb9c;
    background: none;
    color: #1abb9c;
}
.btn.btn-border.btn-teal {
    border-color: #67bbb2;
    background: none;
    color: #67bbb2;
}
.btn.btn-border.btn-oasis {
    border-color: #98bec8;
    background: none;
    color: #98bec8;
}
.btn.btn-border.btn-ice {
    border-color: #9eb9d7;
    background: none;
    color: #9eb9d7;
}
.btn.btn-border.btn-sky {
    border-color: #4ca6e5;
    background: none;
    color: #4ca6e5;
}
.btn.btn-border.btn-blue {
    border-color: #4c86e5;
    background: none;
    color: #4c86e5;
}
.btn.btn-border.btn-purple {
    color: #7e86b5;
    background: none;
    color: #7e86b5;
}
.btn.btn-border.btn-aqua {
    color: #28b8d8;
    background: none;
    color: #28b8d8;
}
.btn.btn-border.btn-brown {
    color: #8b6a5d;
    background: none;
    color: #8b6a5d;
}
.btn.btn-border.btn-navy {
    border-color: #364969;
    background: none;
    color: #364969
}
.btn.btn-border.btn-yellow {
    border-color: #e7b92f;
    background: none;
    color: #e7b92f;
}
.btn.btn-border.btn-orange {
    border-color: #e56c4c;
    background: none;
    color: #e56c4c;
}
.btn.btn-border.btn-red {
    border-color: #e54c4c;
    background: none;
    color: #e54c4c;
}
.btn.btn-border.btn-pink {
    border-color: #ce8fad;
    background: none;
    color: #ce8fad;
}
.btn.btn-border.btn-salmon {
    border-color: #e8c3b9;
    background: none;
    color: #e8c3b9;
}
.btn.btn-border.btn-dark {
    border-color: #303030;
    background: none;
    color: #303030;
}
.btn.btn-border.btn-white {
    border-color: #FFF !important;
    background: none;
    color: #FFF;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #3b78db;
    color: #FFF;
}
.btn.btn-forest:hover,
.btn.btn-forest:focus,
.btn.btn-forest:active,
.btn.btn-forest.active {
    background: #5aab6d
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green:active,
.btn.btn-green.active {
    background: #12ac8e
}
.btn.btn-teal:hover,
.btn.btn-teal:focus,
.btn.btn-teal:active,
.btn.btn-teal.active {
    background: #55a89f
}
.btn.btn-oasis:hover,
.btn.btn-oasis:focus,
.btn.btn-oasis:active,
.btn.btn-oasis.active {
    background: #84acb6
}
.btn.btn-ice:hover,
.btn.btn-ice:focus,
.btn.btn-ice:active,
.btn.btn-ice.active {
    background: #89a6c6
}
.btn.btn-sky:hover,
.btn.btn-sky:focus,
.btn.btn-sky:active,
.btn.btn-sky.active {
    background: #3a98da
}
.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue:active,
.btn.btn-blue.active {
    background: #3b78db
}
.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple:active,
.btn.btn-purple.active {
    background: #6e76a1
}
.btn.btn-aqua:hover,
.btn.btn-aqua:focus,
.btn.btn-aqua:active,
.btn.btn-aqua.active {
    background: #17a9ca
}
.btn.btn-navy:hover,
.btn.btn-navy:focus,
.btn.btn-navy:active,
.btn.btn-navy.active {
    background: #2a3d5c
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown:active,
.btn.btn-brown.active {
    background: #7a5c50
}
.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow:active,
.btn.btn-yellow.active {
    background: #daa508
}
.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange:active,
.btn.btn-orange.active {
    background: #da5c3b
}
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red:active,
.btn.btn-red.active {
    background: #d73d3d
}
.btn.btn-pink:hover,
.btn.btn-pink:focus,
.btn.btn-pink:active,
.btn.btn-pink.active {
    background: #bb7d9a
}
.btn.btn-salmon:hover,
.btn.btn-salmon:focus,
.btn.btn-salmon:active,
.btn.btn-salmon.active {
    background: #e1b5a9
}
.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark:active,
.btn.btn-dark.active {
    background: #202020
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white:active,
.btn.btn-white.active {
    background: #FFF;
    color: #404040;
}
.btn-border:hover,
.btn-border:focus,
.btn-border:active,
.btn-border.active {
    border: 2px solid #4c86e5;
    color: #FFF;
    background: #4c86e5;
}
.btn.btn-border.btn-forest:hover,
.btn.btn-border.btn-forest:focus,
.btn.btn-border.btn-forest:active,
.btn.btn-border.btn-forest.active {
    background: #67bb7b;
    color: #FFF;
}
.btn.btn-border.btn-green:hover,
.btn.btn-border.btn-green:focus,
.btn.btn-border.btn-green:active,
.btn.btn-border.btn-green.active {
    background: #1abb9c;
    color: #FFF;
}
.btn.btn-border.btn-teal:hover,
.btn.btn-border.btn-teal:focus,
.btn.btn-border.btn-teal:active,
.btn.btn-border.btn-teal.active {
    background: #67bbb2;
    color: #FFF;
}
.btn.btn-border.btn-oasis:hover,
.btn.btn-border.btn-oasis:focus,
.btn.btn-border.btn-oasis:active,
.btn.btn-border.btn-oasis.active {
    background: #98bec8;
    color: #FFF;
}
.btn.btn-border.btn-ice:hover,
.btn.btn-border.btn-ice:focus,
.btn.btn-border.btn-ice:active,
.btn.btn-border.btn-ice.active {
    background: #9eb9d7;
    color: #FFF;
}
.btn.btn-border.btn-sky:hover,
.btn.btn-border.btn-sky:focus,
.btn.btn-border.btn-sky:active,
.btn.btn-border.btn-sky.active {
    background: #4ca6e5;
    color: #FFF;
}
.btn.btn-border.btn-blue:hover,
.btn.btn-border.btn-blue:focus,
.btn.btn-border.btn-blue:active,
.btn.btn-border.btn-blue.active {
    background: #4c86e5;
    color: #FFF;
}
.btn.btn-border.btn-purple:hover,
.btn.btn-border.btn-purple:focus,
.btn.btn-border.btn-purple:active,
.btn.btn-border.btn-purple.active {
    background: #7e86b5;
    color: #FFF;
}
.btn.btn-border.btn-aqua:hover,
.btn.btn-border.btn-aqua:focus,
.btn.btn-border.btn-aqua:active,
.btn.btn-border.btn-aqua.active {
    background: #28b8d8;
    color: #FFF;
}
.btn.btn-border.btn-brown:hover,
.btn.btn-border.btn-brown:focus,
.btn.btn-border.btn-brown:active,
.btn.btn-border.btn-brown.active {
    background: #8b6a5d;
    color: #FFF;
}
.btn.btn-border.btn-navy:hover,
.btn.btn-border.btn-navy:focus,
.btn.btn-border.btn-navy:active,
.btn.btn-border.btn-navy.active {
    background: #364969;
    color: #FFF;
}
.btn.btn-border.btn-orange:hover,
.btn.btn-border.btn-orange:focus,
.btn.btn-border.btn-orange:active,
.btn.btn-border.btn-orange.active {
    background: #e56c4c;
    color: #FFF;
}
.btn.btn-border.btn-red:hover,
.btn.btn-border.btn-red:focus,
.btn.btn-border.btn-red:active,
.btn.btn-border.btn-red.active {
    background: #e54c4c;
    color: #FFF;
}
.btn.btn-border.btn-pink:hover,
.btn.btn-border.btn-pink:focus,
.btn.btn-border.btn-pink:active,
.btn.btn-border.btn-pink.active {
    background: #ce8fad;
    color: #FFF;
}
.btn.btn-border.btn-salmon:hover,
.btn.btn-border.btn-salmon:focus,
.btn.btn-border.btn-salmon:active,
.btn.btn-border.btn-salmon.active {
    background: #e8c3b9;
    color: #FFF;
}
.btn.btn-border.btn-dark:hover,
.btn.btn-border.btn-dark:focus,
.btn.btn-border.btn-dark:active,
.btn.btn-border.btn-dark.active {
    background: #303030;
    color: #FFF;
}
.btn.btn-border.btn-white:hover,
.btn.btn-border.btn-white:focus,
.btn.btn-border.btn-white:active,
.btn.btn-border.btn-white.active {
    background: #FFF;
    color: #404040;
}
.btn-icon i {
    vertical-align: -1px;
}
.navigation .btn-icon i {
    vertical-align: 0;
}
.btn-icon-left i {
    margin-right: 5px;
}
.btn-icon-right i {
    margin-left: 5px;
}
.btn-close {
    font-size: 45px;
    font-weight: 300;
    color: inherit;
}
.btn-close:before {
    content: '\00d7';
    padding: 0;
    letter-spacing: normal;
}
.cart-remove .btn-close {
    font-size: 25px;
}
