/*-----------------------------------------------------------------------------------*/
/*	48. LOADING
/*-----------------------------------------------------------------------------------*/
.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f6f7f8;
    z-index: 9999999;
}
.page-loading .status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}
.lg-outer .lg-item:after,
.page-loading .spinner,
.cbp:after,
.cbp-lazyload:after,
.cbp-popup-loadingBox:after,
.cbp-popup-singlePageInline:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    background: #FFF;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 50%;
    -webkit-animation: tp-scaleout 1s infinite ease-in-out;
    animation: tp-scaleout 1s infinite ease-in-out
}
.cbp:after,
.cbp-lazyload:after,
.cbp-popup-loadingBox:after,
.cbp-popup-singlePageInline:after,
.page-loading .spinner {
    background: #151515;
}
