/*-----------------------------------------------------------------------------------*/
/*	23. BOX
/*-----------------------------------------------------------------------------------*/
.icon {
    display: inline-block;
}
.icon p {
    color: #606060;
}
.icon-color {
    color: #4c86e5
}
.icon-img img {
    height: auto;
    max-width: 100%;
}
.icon-round img {
    border-radius: 50%;
}
.icon-img img {
    width: 130px;
}
.icon-bg {
    color: #FFF;
    width: 66px;
    height: 66px;
    max-width: 66px;
    max-height: 66px;
    border-radius: 50%;
    display: table;
}
.text-center .icon-border,
.text-center .icon-bg {
    margin: 0 auto;
}
.icon-bg i,
.icon .number {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}
.icon .number {
    font-weight: 700;
    font-size: 24px;
}
.box {
    padding: 40px 40px 20px;
}
.box.box-border {
    background: none;
    border: 1px solid rgba(21, 21, 21, 0.15);
    position: relative;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.box.box-border:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid rgba(21, 21, 21, 0.15);
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    pointer-events: none;
}
.box.box-border:hover,
.box.box-border:hover:before {
    border-color: #4c86e5
}
