/*-----------------------------------------------------------------------------------*/
/*	19. WIDGETS
/*-----------------------------------------------------------------------------------*/
.sidebox {
    margin-top: 50px;
    display: block;
}
.sidebox:first-child {
    margin-top: 0
}
.sidebox a:not(.btn) {
    color: inherit
}
.sidebox a:not(.btn):hover {
    color: #4c86e5
}
.sidebar {
    padding-left: 35px
}
.sidebar.left-sidebar {
    padding-left: 15px !important;
    padding-right: 35px !important;
}
.widget-title {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: normal;
}
.widget .list {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer [class*="col-"] .widget {
    margin-top: 30px
}
footer [class*="col-"] .widget:first-child {
    margin-top: 0
}
footer .inner {
    padding-top: 60px;
    padding-bottom: 60px;
}
footer .inner:not(.display-block) {
    display: table;
}
.sub-footer {
    display: table;
    width: 100%;
}
.sub-footer p {
    margin: 0;
}
footer p {
    margin: 0;
}
.tag-list li {
    display: inline-block;
}
.tag-list .btn {
    position: relative;
    font-size: 12px;
    padding: 12px 18px;
    padding-left: 25px;
}
.tag-list .btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background: #FFF;
    border-radius: 50%
}
.inverse-text .tag-list .btn {
    background: #292929;
}
.inverse-text .tag-list .btn:hover {
    background: #393939;
}
.inverse-text .tag-list .btn:before {
    background: #181818;
}
