/*-----------------------------------------------------------------------------------*/
/*	45. VIDEO BACKGROUND WRAPPER
/*-----------------------------------------------------------------------------------*/
.video-wrapper video {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
    background-size: cover;
}
.video-wrapper-inner {
    height: 500px;
    width: 100%;
}
.video-wrapper .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(21, 21, 21, 0.5);
}
video::-webkit-media-controls {
    display: none !important
}
