/*-----------------------------------------------------------------------------------*/
/*	28. TILES
/*-----------------------------------------------------------------------------------*/
.no-gutter,
.tiles[class*="tiles-"] .row {
    margin-left: 0;
    margin-right: 0;
}
.no-gutter>[class*="col-"],
.no-gutter .row [class*="col-"],
.tiles[class*="tiles-"] .row [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.tiles[class*="tiles-"] .items:after {
    content: '';
    display: block;
    clear: both;
}
.tiles[class*="tiles-"] .item {
    float: left;
}
.tiles[class*="tiles-"] .item {
    height: auto
}
.tiles[class*="tiles-"] .item figure {
    position: relative;
    overflow: hidden;
}
.tiles .item figure img {
    position: relative;
    width: 100%;
    max-width: 100%;
}
.tiles:not(.tiles-s):not(.tiles-m):not(.no-gutter) {
    margin-bottom: -30px;
}
.tiles:not(.tiles-s):not(.tiles-m):not(.no-gutter) .item {
    margin-bottom: 30px;
}
.tiles-s .item {
    margin-bottom: 10px;
}
.tiles-s {
    margin: 0 -10px -10px 0;
}
.tiles-s .item {
    margin-bottom: 10px;
}
.tiles-s .item>* {
    margin-right: 10px;
}
.tiles-m {
    margin: 0 -20px -20px 0;
}
.tiles-m .item {
    margin-bottom: 20px;
}
.tiles-m .item>* {
    margin-right: 20px;
}
.portfolio .tiles-m {
    margin: 0 -20px -40px 0;
}
.tiles.no-gutter,
.tiles.no-gutter .item,
.tiles.no-gutter .item>* {
    margin: 0;
}
