/*-----------------------------------------------------------------------------------*/
/*	50. INVERSE TEXT
/*-----------------------------------------------------------------------------------*/
.inverse-text,
.inverse-text .icon-color:not(.color-default),
.inverse-text li,
.inverse-text p,
.inverse-text h1:not([class*="color-"]),
.inverse-text h2:not([class*="color-"]),
.inverse-text h3:not([class*="color-"]),
.inverse-text h4:not([class*="color-"]),
.inverse-text h5:not([class*="color-"]),
.inverse-text h6:not([class*="color-"]),
.inverse-text .blockquote-footer,
.inverse-text .accordion-wrapper.bordered .card-header a,
.inverse-text .accordion-wrapper .card-header a.collapsed,
.inverse-text .color-dark,
.inverse-text label,
.inverse-text .glyphs.css-mapping i:before,
.inverse-text .list-group-item-action,
.inverse-text .pagination ul>li:not(.active)>a,
.inverse-text .page-navi:not(.bg) a,
.inverse-text .nav-tabs .nav-link:not(.active),
.inverse-text .cbp-filter-item:not(.cbp-filter-item-active) {
    color: #FFF !important
}
.inverse-text .pagination:not(.bg) ul>li>a:hover,
.inverse-text .page-navi:not(.bg) a:hover,
.inverse-text .nav-tabs .nav-link:hover,
.inverse-text .cbp-filter-item:hover {
    color: #4c86e5 !important;
}
.inverse-text .list-group-item.disabled,
.inverse-text .list-group-item:disabled {
    color: #909090 !important;
}
.inverse-text .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.inverse-text .navbar-nav .nav-link:hover,
.inverse-text .navbar-nav .nav-link.highlighted,
.inverse-text .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.75);
}
.inverse-text .social-mute a i {
    color: rgba(255, 255, 255, 1) !important;
}
.inverse-text .social-mute a:hover i {
    color: rgba(255, 255, 255, 0.75) !important;
    opacity: 1;
}
/*footer.inverse-text,
footer.inverse-text p {
	color: #cdcdcd !important;
}*/
.inverse-text .box.box-border,
.inverse-text .box.box-border:before,
.inverse-text blockquote.bordered,
.inverse-text .accordion-wrapper.lined .card-header a.collapsed,
.inverse-text .accordion-wrapper.bordered .card,
.inverse-text .accordion-wrapper.bordered .card-block,
.inverse-text hr,
.inverse-text .divider-icon:before,
.inverse-text .divider-icon:after,
.inverse-text select,
.inverse-text textarea,
.inverse-text textarea.form-control,
.inverse-text input[type="text"]:not(.qty),
.inverse-text input[type="password"],
.inverse-text input[type="datetime"],
.inverse-text input[type="datetime-local"],
.inverse-text input[type="date"],
.inverse-text input[type="month"],
.inverse-text input[type="time"],
.inverse-text input[type="week"],
.inverse-text input[type="number"],
.inverse-text input[type="email"],
.inverse-text input[type="url"],
.inverse-text input[type="search"],
.inverse-text input[type="tel"],
.inverse-text input[type="color"],
.inverse-text .uneditable-input,
.inverse-text .list-group-item,
.inverse-text .pagination.bordered ul>li>a,
.inverse-text .page-navi.bordered a,
.inverse-text .tabs-wrapper.lined .nav-tabs,
.inverse-text .tabs-wrapper:not(.lined) .nav-tabs .nav-link:not(.active),
.inverse-text .section-title-line:before,
.inverse-text .section-title-line:after {
    border-color: rgba(255, 255, 255, 0.3);
}
.inverse-text .list-group-item:not(.active) {
    background: #1a1a1a;
}
.inverse-text .divider-icon i,
.inverse-text blockquote.icon:before {
    color: rgba(255, 255, 255, 0.5);
}
.inverse-text .accordion-wrapper.lined .card-header a:hover,
.inverse-text .tabs-wrapper:not(.lined) .nav-tabs .nav-link:not(.active):hover {
    color: #4c86e5 !important;
    border-color: #4c86e5 !important;
}
.inverse-text .box.box-border:hover,
.inverse-text .box.box-border:hover:before {
    border-color: #4c86e5
}
.inverse-text .meta span:after {
    background-color: rgba(255, 255, 255, 0.3)
}
.inverse-text .swiper-container-wrapper .swiper-pagination .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.4);
}
.inverse-text .swiper-container-wrapper .swiper-pagination .swiper-pagination-bullet:hover,
.inverse-text .swiper-container-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff
}
.inverse-text .custom-control-indicator {
    background-color: rgba(255, 255, 255, 0.3);
}
.inverse-text .custom-control-input:disabled~.custom-control-indicator {
    background-color: rgba(255, 255, 255, 0.05)
}
.inverse-text select,
.inverse-text textarea,
.inverse-text textarea.form-control,
.inverse-text input[type="text"]:not(.qty),
.inverse-text input[type="password"],
.inverse-text input[type="datetime"],
.inverse-text input[type="datetime-local"],
.inverse-text input[type="date"],
.inverse-text input[type="month"],
.inverse-text input[type="time"],
.inverse-text input[type="week"],
.inverse-text input[type="number"],
.inverse-text input[type="email"],
.inverse-text input[type="url"],
.inverse-text input[type="search"],
.inverse-text input[type="tel"],
.inverse-text input[type="color"],
.inverse-text .uneditable-input,
.inverse-text .custom-control-description,
.inverse-text .custom-select-wrapper:before,
.inverse-text .product-quantity {
    background: rgba(21, 21, 21, 0.2);
    color: #ccc;
    border-color: rgba(255, 255, 255, 0.4);
}
.inverse-text .form-control::-webkit-input-placeholder {
    color: #ccc;
}
.inverse-text .form-control:-moz-placeholder {
    color: #ccc;
}
.inverse-text .form-control::-moz-placeholder {
    color: #ccc;
}
.inverse-text .form-control:-ms-input-placeholder {
    color: #ccc;
}
.inverse-text textarea:focus,
.inverse-text textarea.form-control:focus,
.inverse-text input[type="text"]:focus,
.inverse-text input[type="password"]:focus,
.inverse-text input[type="datetime"]:focus,
.inverse-text input[type="datetime-local"]:focus,
.inverse-text input[type="date"]:focus,
.inverse-text input[type="month"]:focus,
.inverse-text input[type="time"]:focus,
.inverse-text input[type="week"]:focus,
.inverse-text input[type="number"]:focus,
.inverse-text input[type="email"]:focus,
.inverse-text input[type="url"]:focus,
.inverse-text input[type="search"]:focus,
.inverse-text input[type="tel"]:focus,
.inverse-text input[type="color"]:focus,
.inverse-text .uneditable-input:focus {
    border-color: rgba(255, 255, 255, 0.8);
}
.inverse-text .process-wrapper.arrow [class*="col-"]:before {
    color: rgba(255, 255, 255, 0.3);
}
.inverse-text .process-wrapper.line [class*="col-"]:before,
.inverse-text .process-wrapper.line [class*="col-"]:after {
    background-color: rgba(255, 255, 255, 0.3);
}
.inverse-text .progressbar:not(.border) svg path:first-child {
    stroke: rgba(255, 255, 255, 0.06);
}
.inverse-text .bg-gray {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.inverse-text .cbp-filter-item:after,
.inverse-text .tabs-wrapper.filtered .nav-tabs .nav-link:after {
    background-color: rgba(255, 255, 255, 0.3)
}
.inverse-text .cbp:after,
.inverse-text .cbp-lazyload:after,
.inverse-text .cbp-popup-loadingBox:after,
.inverse-text .cbp-popup-singlePageInline:after {
    background: #FFF;
}
