/*-----------------------------------------------------------------------------------*/
/*	49. FONT ICONS
/*-----------------------------------------------------------------------------------*/
.glyphs.css-mapping {
    padding: 0;
}
.glyphs.css-mapping li {
    margin: 0 0 20px 0;
    display: inline-block;
}
.glyphs.css-mapping i:before {
    margin: 0;
    padding: 0;
    height: 48px;
    width: 40px;
    color: #404040;
    float: left;
    font-size: 36px;
    padding-top: 6px;
}
.glyphs.css-mapping.faw i:before {
    font-size: 26px;
    padding-top: 11px;
}
.glyphs.css-mapping input {
    margin: 0;
    display: block;
    width: calc(100% - 52px);
    outline: 0;
    float: right;
}
.glyphs.css-mapping.faw input {
    width: calc(100% - 42px);
}
