/*-----------------------------------------------------------------------------------*/
/*	10. LIST GROUP
/*-----------------------------------------------------------------------------------*/
.list-group-item {
    border-color: rgba(21, 21, 21, 0.15)
}
.list-group.simple .list-group-item {
    border-color: rgba(21, 21, 21, 0.075)
}
.list-group-item.disabled,
.list-group-item:disabled {
    color: #909090;
}
.list-group-item.active {
    background-color: #4c86e5;
    border-color: #4c86e5
}
.list-group-item.active * {
    color: #FFF;
}
.list-group.simple .list-group-item {
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
}
.list-group.simple .list-group-item:first-child {
    border-top: 0;
}
.list-group.simple .list-group-item:last-child {
    border-bottom: 0;
}
