/*-----------------------------------------------------------------------------------*/
/*	05. MEGA MENU
/*-----------------------------------------------------------------------------------*/
.navbar-nav,
.navbar-nav>li.mega-menu {
    position: static !important;
}
.navbar-nav>li>ul.mega-menu {
    margin-left: 0 !important;
    right: 0 !important;
    width: auto !important;
    max-width: none !important;
}
