/*-----------------------------------------------------------------------------------*/
/* 	36. PRICING
/*-----------------------------------------------------------------------------------*/
.panel.pricing {
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}
.panel.pricing .icon-bg {
    text-align: center;
    margin: 0 auto;
}
.panel.pricing .panel-heading {
    padding: 0;
    padding-top: 10px
}
.panel.pricing .panel-title {
    margin: 0;
    padding: 5px 0 20px 0;
}
.panel.pricing .icon {
    margin-bottom: 10px;
}
.panel.pricing table {
    margin-bottom: 0
}
.pricing .panel-body {
    padding: 35px 0 0 0;
    text-align: center;
    border-top: 0;
}
.panel.pricing .price {
    padding: 20px 0 0;
    margin: 0;
    background: none;
    font-weight: normal;
}
.price-value {
    font-size: 50px
}
.price-currency {
    display: inline-block;
    vertical-align: super;
    font-size: 18px;
    padding-right: 3px;
}
.price-duration {
    font-size: 16px;
    display: block;
}
.price-duration:before {
    content: "/";
    padding-right: 5px;
}
.panel-desc {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1;
}
.panel.pricing .table>thead>tr>th,
.panel.pricing .table>tbody>tr>th,
.panel.pricing .table>tfoot>tr>th,
.panel.pricing .table>thead>tr>td,
.panel.pricing .table>tbody>tr>td,
.panel.pricing .table>tfoot>tr>td {
    padding: 5px 0;
    line-height: 1;
    vertical-align: top;
}
.pricing .table>tbody>tr>td {
    border: 0
}
.panel.pricing .table>tbody>tr:nth-child(2n) {
    background: none
}
.panel.pricing .panel-footer a {
    margin: 0
}
.panel.pricing .panel-title,
.pricing .panel-body {
    border: 0;
    background: none;
}
.pricing .panel-footer {
    padding-top: 45px;
    padding-bottom: 15px;
    background: none;
    border: 0;
}
