/*-----------------------------------------------------------------------------------*/
/* 	12. CUBE PORTFOLIO
/*-----------------------------------------------------------------------------------*/
.cbp a {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}
.cbp .btn {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.cbp-filter-container {
    position: relative;
    z-index: 2;
    font-size: 0;
    line-height: 0;
    margin-bottom: 0;
}
.cbp-l-filters-button .cbp-filter-item {
    position: relative;
    display: inline-block;
    -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.cbp-filter-item {
    display: inline-block;
    font-size: 13px;
    font-family: 'Montserrat';
    letter-spacing: 0;
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
    line-height: 1;
    padding: 0;
    margin: 0 20px 10px 0;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.text-right .cbp-filter-item,
.text-md-right .cbp-filter-item {
    margin: 0 0 0 20px;
}
.text-center .cbp-filter-item {
    margin: 0 10px 10px;
}
.cbp-filter-item.cbp-filter-item-active,
.cbp-filter-item:hover {
    color: #4c86e5;
}
.cbp-filter-item:after {
    content: "";
    vertical-align: 3px;
    margin: 0;
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 17px;
    border-radius: 50%;
    background-color: rgba(21, 21, 21, 0.25)
}
.cbp-filter-item:last-child:after {
    display: none
}
