/*-----------------------------------------------------------------------------------*/
/*	22. SOCIAL ICONS
/*-----------------------------------------------------------------------------------*/
.social {
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
    font-size: 0;
    line-height: 1;
}
.social li {
    display: inline-block;
    margin: 0 10px 5px 0;
}
.pull-right .social li,
.social.pull-right li,
.text-right .social li {
    margin: 0 0 5px 10px
}
.text-center .social li,
.social.text-center li {
    margin: 0 5px 5px 5px
}
.social-bg li {
    margin: 0 5px 5px 0;
}
.pull-right .social-bg li,
.social-bg.pull-right li,
.text-right .social-bg li {
    margin: 0 0 5px 5px
}
.text-center .social-bg li,
.social-bg.text-center li {
    margin: 0 2px 5px 2px
}
.social li a i {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    height: auto;
    width: auto;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.social li a:hover i {
    opacity: 0.85;
}
.social-bg li a i {
    color: #FFF;
    display: table;
    border-radius: 50%;
}
.social-bg li a i:before {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.social-bg.social-s li a i {
    width: 34px;
    height: 34px;
}
.social-bg.social-m li a i {
    width: 44px;
    height: 44px;
}
.social-s {
    font-size: 18px;
}
.social-m {
    font-size: 24px;
}
.social-mute a i {
    color: #404040;
}
.social-mute a:hover i {
    color: #4c86e5;
    opacity: 1 !important;
}
.color-s-500px,
a.color-s-500px:hover,
.social-color .fa-500px {
    color: #00a6df;
}
.color-s-android,
a.color-s-android:hover,
.social-color .fa-android {
    color: #97c03d;
}
.color-s-apple,
a.color-s-apple:hover,
.social-color .fa-apple {
    color: #26a6d1;
}
.color-s-behance,
a.color-s-behance:hover,
.social-color .fa-behance {
    color: #098ffa;
}
.color-s-deviantart,
a.color-s-deviantart:hover,
.social-color .fa-deviantart {
    color: #05cc47;
}
.color-s-dribbble,
a.color-s-dribbble:hover,
.social-color .fa-dribbble {
    color: #d07ead;
}
.color-s-etsy,
a.color-s-etsy:hover,
.social-color .fa-etsy {
    color: #f56400;
}
.color-s-facebook-f,
a.color-s-facebook-f:hover,
.social-color .fa-facebook-f,
.social-color .fa-facebook {
    color: #4470cf;
}
.color-s-facebook-square,
a.color-s-facebook-square:hover,
.social-color .fa-facebook-square {
    color: #4470cf;
}
.color-s-flickr,
a.color-s-flickr:hover,
.social-color .fa-flickr {
    color: #f3188c;
}
.color-s-foursquare,
a.color-s-foursquare:hover,
.social-color .fa-foursquare {
    color: #f94877;
}
.color-s-git-square,
a.color-s-git-square:hover,
.social-color .fa-git-square {
    color: #4073a6;
}
.color-s-github,
a.color-s-github:hover,
.social-color .fa-github {
    color: #4073a6;
}
.color-s-github-alt,
a.color-s-github-alt:hover,
.social-color .fa-github-alt {
    color: #4073a6;
}
.color-s-google-plus,
a.color-s-google-plus:hover,
.social-color .fa-google-plus {
    color: #cd4639;
}
.color-s-google-plus-square,
a.color-s-google-plus-square:hover,
.social-color .fa-google-plus-square {
    color: #cd4639;
}
.color-s-instagram,
a.color-s-instagram:hover,
.social-color .fa-instagram {
    color: #d53581;
}
.color-s-lastfm,
a.color-s-lastfm:hover,
.social-color .fa-lastfm {
    color: #be0c02;
}
.color-s-lastfm-square,
a.color-s-lastfm-square:hover,
.social-color .fa-lastfm-square {
    color: #be0c02;
}
.color-s-linkedin,
a.color-s-linkedin:hover,
.social-color .fa-linkedin {
    color: #3393c1;
}
.color-s-linkedin-square,
a.color-s-linkedin-square:hover,
.social-color .fa-linkedin-square {
    color: #3393c1;
}
.color-s-pinterest,
a.color-s-pinterest:hover,
.social-color .fa-pinterest {
    color: #c53942;
}
.color-s-pinterest-p,
a.color-s-pinterest-p:hover,
.social-color .fa-pinterest-p {
    color: #c53942;
}
.color-s-pinterest-square,
a.color-s-pinterest-square:hover,
.social-color .fa-pinterest-square {
    color: #c53942;
}
.color-s-reddit,
a.color-s-reddit:hover,
.social-color .fa-reddit {
    color: #ff3f18;
}
.color-s-reddit-alien,
a.color-s-reddit-alien:hover,
.social-color .fa-reddit-alien {
    color: #ff3f18;
}
.color-s-reddit-square,
a.color-s-reddit-square:hover,
.social-color .fa-reddit-square {
    color: #ff3f18;
}
.color-s-skype,
a.color-s-skype:hover,
.social-color .fa-skype {
    color: #2ebbf0;
}
.color-s-slack,
a.color-s-slack:hover,
.social-color .fa-slack {
    color: #77d4b6;
}
.color-s-soundcloud,
a.color-s-soundcloud:hover,
.social-color .fa-soundcloud {
    color: #ff680d;
}
.color-s-spotify,
a.color-s-spotify:hover,
.social-color .fa-spotify {
    color: #7cc011;
}
.color-s-stack-overflow,
a.color-s-stack-overflow:hover,
.social-color .fa-stack-overflow {
    color: #f48125;
}
.color-s-stumbleupon,
a.color-s-stumbleupon:hover,
.social-color .fa-stumbleupon {
    color: #eb4923;
}
.color-s-stumbleupon-circle,
a.color-s-stumbleupon-circle:hover,
.social-color .fa-stumbleupon-circle {
    color: #eb4923;
}
.color-s-telegram,
a.color-s-telegram:hover,
.social-color .fa-telegram {
    color: #31a9dd;
}
.color-s-tripadvisor,
a.color-s-tripadvisor:hover,
.social-color .fa-tripadvisor {
    color: #589541;
}
.color-s-tumblr,
a.color-s-tumblr:hover,
.social-color .fa-tumblr {
    color: #5d82a4;
}
.color-s-tumblr-square,
a.color-s-tumblr-square:hover,
.social-color .fa-tumblr-square {
    color: #5d82a4;
}
.color-s-twitch,
a.color-s-twitch:hover,
.social-color .fa-twitch {
    color: #6441a4;
}
.color-s-twitter,
a.color-s-twitter:hover,
.social-color .fa-twitter {
    color: #5daed5;
}
.color-s-twitter-square,
a.color-s-twitter-square:hover,
.social-color .fa-twitter-square {
    color: #5daed5;
}
.color-s-vimeo,
a.color-s-vimeo:hover,
.social-color .fa-vimeo {
    color: #099fc7;
}
.color-s-vimeo-square,
a.color-s-vimeo-square:hover,
.social-color .fa-vimeo-square {
    color: #099fc7;
}
.color-s-vine,
a.color-s-vine:hover,
.social-color .fa-vine {
    color: #01cc99;
}
.color-s-vk,
a.color-s-vk:hover,
.social-color .fa-vk {
    color: #4c75a3;
}
.color-s-whatsapp,
a.color-s-whatsapp:hover,
.social-color .fa-whatsapp {
    color: #00a859;
}
.color-s-xing,
a.color-s-xing:hover,
.social-color .fa-xing {
    color: #006567;
}
.color-s-xing-square,
a.color-s-xing-square:hover,
.social-color .fa-xing-square {
    color: #006567;
}
.color-s-yelp,
a.color-s-yelp:hover,
.social-color .fa-yelp {
    color: #be2f25;
}
.color-s-youtube,
a.color-s-youtube:hover,
.social-color .fa-youtube {
    color: #c8312b;
}
.color-s-youtube-play,
a.color-s-youtube-play:hover,
.social-color .fa-youtube-play {
    color: #c8312b;
}
.color-s-youtube-square,
a.color-s-youtube-square:hover,
.social-color .fa-youtube-square {
    color: #c8312b;
}
.social-bg .fa-500px {
    background: #00a6df;
}
.social-bg .fa-android {
    background: #97c03d;
}
.social-bg .fa-apple {
    background: #26a6d1;
}
.social-bg .fa-behance {
    background: #098ffa;
}
.social-bg .fa-deviantart {
    background: #05cc47;
}
.social-bg .fa-dribbble {
    background: #d07ead;
}
.social-bg .fa-etsy {
    background: #f56400;
}
.social-bg .fa-facebook-f {
    background: #4470cf;
}
.social-bg .fa-facebook-square {
    background: #4470cf;
}
.social-bg .fa-flickr {
    background: #f3188c;
}
.social-bg .fa-foursquare {
    background: #f94877;
}
.social-bg .fa-git-square {
    background: #4073a6;
}
.social-bg .fa-github {
    background: #4073a6;
}
.social-bg .fa-github-alt {
    background: #4073a6;
}
.social-bg .fa-google-plus {
    background: #cd4639;
}
.social-bg .fa-google-plus-square {
    background: #cd4639;
}
.social-bg .fa-instagram {
    background: #d53581;
}
.social-bg .fa-lastfm {
    background: #be0c02;
}
.social-bg .fa-lastfm-square {
    background: #be0c02;
}
.social-bg .fa-linkedin {
    background: #3393c1;
}
.social-bg .fa-linkedin-square {
    background: #3393c1;
}
.social-bg .fa-pinterest {
    background: #c53942;
}
.social-bg .fa-pinterest-p {
    background: #c53942;
}
.social-bg .fa-pinterest-square {
    background: #c53942;
}
.social-bg .fa-reddit {
    background: #ff3f18;
}
.social-bg .fa-reddit-alien {
    background: #ff3f18;
}
.social-bg .fa-reddit-square {
    background: #ff3f18;
}
.social-bg .fa-skype {
    background: #2ebbf0;
}
.social-bg .fa-slack {
    background: #77d4b6;
}
.social-bg .fa-soundcloud {
    background: #ff680d;
}
.social-bg .fa-spotify {
    background: #7cc011;
}
.social-bg .fa-stack-overflow {
    background: #f48125;
}
.social-bg .fa-stumbleupon {
    background: #eb4923;
}
.social-bg .fa-stumbleupon-circle {
    background: #eb4923;
}
.social-bg .fa-telegram {
    background: #31a9dd;
}
.social-bg .fa-tripadvisor {
    background: #589541;
}
.social-bg .fa-tumblr {
    background: #5d82a4;
}
.social-bg .fa-tumblr-square {
    background: #5d82a4;
}
.social-bg .fa-twitch {
    background: #6441a4;
}
.social-bg .fa-twitter {
    background: #5daed5;
}
.social-bg .fa-twitter-square {
    background: #5daed5;
}
.social-bg .fa-vimeo {
    background: #099fc7;
}
.social-bg .fa-vimeo-square {
    background: #099fc7;
}
.social-bg .fa-vine {
    background: #01cc99;
}
.social-bg .fa-vk {
    background: #4c75a3;
}
.social-bg .fa-whatsapp {
    background: #00a859;
}
.social-bg .fa-xing {
    background: #006567;
}
.social-bg .fa-xing-square {
    background: #006567;
}
.social-bg .fa-yelp {
    background: #be2f25;
}
.social-bg .fa-youtube {
    background: #c8312b;
}
.social-bg .fa-youtube-play {
    background: #c8312b;
}
.social-bg .fa-youtube-square {
    background: #c8312b;
}
.btn.share-facebook {
    background: #4470cf;
}
.btn.share-google {
    background: #a84539;
}
.btn.share-pinterest {
    background: #c53942;
}
.btn.share-tumblr {
    background: #5d82a4;
}
.btn.share-twitter {
    background: #5daed5;
}
.btn.share-facebook:hover,
.btn.share-facebook:focus,
.btn.share-facebook:active,
.btn.share-facebook.active {
    background: #325bb3;
}
.btn.share-google:hover,
.btn.share-google:focus,
.btn.share-google:active,
.btn.share-google.active {
    background: #91362b;
}
.btn.share-pinterest:hover,
.btn.share-pinterest:focus,
.btn.share-pinterest:active,
.btn.share-pinterest.active {
    background: #b12b34;
}
.btn.share-tumblr:hover,
.btn.share-tumblr:focus,
.btn.share-tumblr:active,
.btn.share-tumblr.active {
    background: #496b8b;
}
.btn.share-twitter:hover,
.btn.share-twitter:focus,
.btn.share-twitter:active,
.btn.share-twitter.active {
    background: #4c9ec6;
}
