/*-----------------------------------------------------------------------------------*/
/*	11. SLIDER REVOLUTION
/*-----------------------------------------------------------------------------------*/
.rev_slider_wrapper {
    left: 0px;
    width: 100%;
}
.rev_th_auto .rev_slider {
    margin-bottom: 5px !important;
}
.zeus.tparrows {
    background: rgba(0, 0, 0, 0.4);
}
.zeus .tp-bullet {
    width: 10px;
    height: 10px;
}
.zeus .tp-bullet-imageoverlay {
    background: rgba(0, 0, 0, 0);
}
.zeus .tp-bullet-title,
.zeus .tp-bullet-imageoverlay {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.tp-caption:not(.font-body):not(.font-title) {
    font-family: 'Montserrat';
}
.tp-caption.boxshadow {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.tp-caption.start-boxshadow {
    -webkit-box-shadow: 1px 1px 0 0 #1a1a1a, 2px 2px 0 0 #1a1a1a, 3px 3px 0 0 #1a1a1a, 4px 4px 0 0 #1a1a1a, 5px 5px 0 0 #1a1a1a, 6px 6px 0 0 #1a1a1a;
    box-shadow: 1px 1px 0 0 #1a1a1a, 2px 2px 0 0 #1a1a1a, 3px 3px 0 0 #1a1a1a, 4px 4px 0 0 #1a1a1a, 5px 5px 0 0 #1a1a1a, 6px 6px 0 0 #1a1a1a;
}
.tp-dottedoverlay.darkoverlay {
    background: rgba(48, 48, 48, 0.6)
}
.tp-bannertimer {
    background: rgba(255, 255, 255, 0.25)
}
.tp-loader.spinner2 {
    background: #151515;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bg-dark .tp-loader.spinner2,
.light-spinner .tp-loader.spinner2 {
    background: #FFF;
}
.tp-dottedoverlay.darkoverlay {
    background: rgba(21, 21, 21, 0.5)
}
.rev-scroll-btn span {
    width: 4px;
    height: 4px;
    margin: -2px 0 0 -2px;
}
.zeus .tp-tab:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    z-index: 2;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.zeus .tp-tab.selected:after {
    border-color: rgba(255, 255, 255, 0.8);
}
.rev_th_auto .zeus .tp-tab:after {
    border: 0;
    background: transparent;
}
.rev_th_auto .zeus .tp-tab:hover:after,
.rev_th_auto .zeus .tp-tab.selected:after {
    background: rgba(255, 255, 255, 0.3);
}
.erinyen .tp-tab-title {
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin: 0;
}
